<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Vapeur - Tous les Jeux</title>
</head>
<body>
  <a href="/games/new">Retour à la création de jeu </a>
  <a href="/">Retour à l'accueil</a>
</body>
</html>



