<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vapeur - Accueil</title>
</head>
<body>
  <h1>Jeux Mis en Avant</h1>
  {{#each games}}
    {{#if this.mise_en_avant}}
    <ul>
        <li>
          <strong>{{this.title}}</strong><br>
          <em>Genre :</em> {{this.genre.name}}<br>
          <em>Éditeur :</em> {{this.publisher.name}}<br>
          <p><em>Description :</em> {{this.description}}</p>
        </li>
    </ul>
    {{/if}}
  {{/each}}
  <a href="/games/new">Ajouter un jeu</a>
  <a href="/games">Liste de tout les jeux</a>
</body>
</html>
