<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/style.css">
  <title>Créer un Jeu</title>
</head>
<body>
  <h1>Ajouter un Nouveau Jeu</h1>

  <!-- Formulaire pour ajouter un jeu -->
  <form action="/jeux/new" method="POST">
    <label for="title">Titre</label>
    <input type="text" name="title" required><br>

    <label for="description">Description</label>
    <textarea name="description" required></textarea><br>

    <label for="releaseDate">Date de sortie</label>
    <input type="date" name="releaseDate" required><br>

    <label for="genreId">Genre</label>
    <select name="genreId">
      {{#each genres}}
        <option value="{{this.id}}">{{this.name}}</option>
      {{/each}}
    </select><br>

    <label for="publisherId">Éditeur</label>
    <select name="publisherId">
      {{#each editeurs}}
        <option value="{{this.id}}">{{this.name}}</option>
      {{/each}}
    </select>
    <a href="/editeurs/new">Si vous ne trouvez pas l'éditeur, ajouter le !</a><br>

    <!-- Case à cocher pour mise en avant -->
    <label for="mise_en_avant">Mettre en avant ce jeu ?</label>
    <input type="checkbox" name="mise_en_avant"><br>

    <button type="submit">Ajouter un Jeu</button>
  </form>
  <a href="/">Retour à l'accueil</a>
  <a href="/jeux">Retour à la liste de tout les jeux</a>
</body>
</html>
