<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Créer un Jeu</title>
</head>
<body>
  <h1>Ajouter un Nouveau Editeur</h1>

  <!-- Formulaire pour ajouter un jeu -->
  <form action="/editeurs/new" method="POST">
    <label for="name">Nom de l'éditeur</label>
    <input type="text" name="name" required><br>

    <button type="submit">Ajouter l'éditeur</button>
  </form>
  <a href="/">Retour à l'accueil</a>
  <a href="/jeux">Retour à la liste de tout les jeux</a>
</body>
</html>
